openapi: 3.1.0
info:
  title: Animal Poke Backend API
  version: 1.0.0
  description: |
    Go 后端 API 契约（OpenAPI 3.1）。
    客户端仅持有 API Base URL + 设备 Token；第三方 Key 永不进入前端。
  contact:
    name: animal_poke team
  license:
    name: Proprietary
    url: https://github.com/Bluepoisons/animal_poke
servers:
  - url: https://api.animal-poke.app
    description: Production
  - url: https://api.staging.animal-poke.app
    description: Staging

tags:
  - name: Health
    description: Liveness, readiness and lightweight health probes
  - name: Auth
    description: Device registration, account binding and JWT issuance
  - name: Geo
    description: Reverse geocoding and location helpers
  - name: Weather
    description: Weather queries proxied via backend
  - name: Vision
    description: Image animal detection and analysis
  - name: Value
    description: Pet value generation
  - name: Sync
    description: Animal collection sync APIs
  - name: Privacy
    description: Consent, export and deletion requests
  - name: Security
    description: Client security and trusted time endpoints
  - name: Commerce
    description: Orders and entitlements
  - name: Admin
    description: Admin audit APIs
  - name: Observability
    description: Metrics and operational endpoints
  - name: Analytics
    description: Privacy-friendly funnel event ingest

paths:
  /health:
    get:
      tags: [Health]
      summary: Liveness (legacy)
      operationId: getHealth
      security: []
      responses:
        "200":
          description: Process alive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
  /livez:
    get:
      tags: [Health]
      summary: Liveness
      operationId: getLivez
      security: []
      responses:
        "200":
          description: Process alive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
  /ready:
    get:
      tags: [Health]
      summary: Readiness (legacy)
      operationId: getReady
      security: []
      responses:
        "200":
          description: Ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "503":
          description: Not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
  /readyz:
    get:
      tags: [Health]
      summary: Readiness
      operationId: getReadyz
      security: []
      responses:
        "200":
          description: Ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "503":
          description: Not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
  /metrics:
    get:
      tags: [Observability]
      summary: Prometheus metrics (management plane only)
      description: |
        **AP-036**: Metrics are NOT available on the public API / Ingress port.
        Public `GET /metrics` on the main server returns **404**.

        Scrape the dedicated management listener instead:
        - Env: `METRICS_ADDR` (default `:9090`)
        - Path: `GET /metrics` on that address only
        - Kubernetes: ClusterIP Service `animal-poke-backend-metrics:9090`
          (never attach this Service to Ingress)

        Label set is fixed-cardinality: Gin route templates via `c.FullPath()`,
        unmatched routes use path=`unknown`, status is bucketed (`2xx`/`4xx`/…).
      operationId: getMetrics
      security: []
      responses:
        "200":
          description: Prometheus text exposition (management port only)
          content:
            text/plain:
              schema:
                type: string
        "404":
          description: Public API port deliberately does not expose metrics
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v1/ping:
    get:
      tags: [Health]
      summary: Ping
      operationId: ping
      security: []
      responses:
        "200":
          description: Pong
          content:
            application/json:
              schema:
                type: object
                required: [msg]
                properties:
                  msg:
                    type: string
                    example: pong
                  db:
                    type: boolean
                  app_env:
                    type: string
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v1/time:
    get:
      tags: [Security]
      summary: Trusted server time
      operationId: getTime
      security: []
      responses:
        "200":
          description: Signed server time
          headers:
            X-Server-Time:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v1/auth/device:
    post:
      tags: [Auth]
      summary: Register device and issue JWT
      description: |
        First registration generates an `installation_secret` (returned once).
        Subsequent token refresh must include the secret; knowing only `device_id` is insufficient.
      operationId: authDevice
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthDeviceRequest"
      responses:
        "200":
          description: Token issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthDeviceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/auth/bind:
    post:
      tags: [Auth]
      summary: Bind current device to email or mock OAuth account
      description: |
        Guest remains default. Binding creates or attaches an account, merges guest
        animals/entitlements without double-granting rewards. Credentials are stored hashed.
      operationId: authBind
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthBindRequest"
      responses:
        "200":
          description: Bound and token re-issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthAccountResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/auth/login:
    post:
      tags: [Auth]
      summary: Login with email/mock OAuth to recover after clearing local data
      operationId: authLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthLoginRequest"
      responses:
        "200":
          description: Logged in; guest assets on device_id merged into account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthAccountResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/auth/logout:
    post:
      tags: [Auth]
      summary: Logout current device (bump token version, clear refresh hash)
      operationId: authLogout
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: logged_out
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/auth/account:
    get:
      tags: [Auth]
      summary: Current account profile (guest if unbound)
      operationId: authAccount
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Account or guest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthAccountInfo"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/auth/devices:
    get:
      tags: [Auth]
      summary: List devices linked to current account
      operationId: authListDevices
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Device list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthDeviceList"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/auth/devices/revoke:
    post:
      tags: [Auth]
      summary: Revoke a lost device
      operationId: authRevokeDevice
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id]
              properties:
                device_id:
                  type: string
      responses:
        "200":
          description: Device revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  device_id:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Device not found
  /api/v1/geo/city:
    get:
      tags: [Geo]
      summary: Reverse geocode city
      operationId: getCity
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Lat"
        - $ref: "#/components/parameters/Lng"
      responses:
        "200":
          description: City info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/weather/week:
    get:
      tags: [Weather]
      summary: Weekly weather
      operationId: getWeatherWeek
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Lat"
        - $ref: "#/components/parameters/Lng"
      responses:
        "200":
          description: Week weather
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherWeekResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/vision/detect:
    post:
      tags: [Vision]
      summary: Detect animals in image
      operationId: visionDetect
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
      responses:
        "200":
          description: Detection result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisionDetectResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/vision/analyze:
    post:
      tags: [Vision]
      summary: Analyze selected animal target from a prior detect
      operationId: visionAnalyze
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
                detect_inference_id:
                  type: string
                  description: Parent detect inference id (required when provenance is enabled)
                parent_inference_id:
                  type: string
                  description: Alias of detect_inference_id
                target_id:
                  type: string
                  description: Stable target id from detect.targets
                species:
                  type: string
                  description: Claimed species; must match locked detect target
                box:
                  type: string
                  description: JSON bounding box {x,y,width,height} fractions 0-1
                box_x:
                  type: number
                box_y:
                  type: number
                box_width:
                  type: number
                box_height:
                  type: number
      responses:
        "200":
          description: Analysis result for the locked target
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisionAnalyzeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "422":
          description: Invalid model analysis output
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/value/generate:
    post:
      tags: [Value]
      summary: Generate pet stats/narrative (deterministic rarity/stats)
      description: |
        Rarity and battle stats are computed server-side via HMAC-seeded algorithm
        (seed = parent/capture inference id + config_version + server secret).
        LLM only supplies narrative. Response includes factors for transparency.
      operationId: valueGenerate
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [species]
              properties:
                species: { type: string }
                breed: { type: string }
                color: { type: string }
                body_type: { type: string }
                subject_completeness: { type: integer, minimum: 1, maximum: 10 }
                clarity: { type: integer, minimum: 1, maximum: 10 }
                lighting: { type: integer, minimum: 1, maximum: 10 }
                composition: { type: integer, minimum: 1, maximum: 10 }
                pose: { type: integer, minimum: 1, maximum: 10 }
                angle: { type: integer, minimum: 1, maximum: 10 }
                parent_inference_id: { type: string }
                analyze_inference_id: { type: string }
                inference_request_id: { type: string }
                capture_id: { type: string }
              additionalProperties: true
      responses:
        "200":
          description: Generated value with deterministic stats and factors
          content:
            application/json:
              schema:
                type: object
                properties:
                  rarity: { type: integer, minimum: 1, maximum: 5 }
                  hp: { type: integer }
                  atk: { type: integer }
                  def: { type: integer }
                  spd: { type: integer }
                  class: { type: string }
                  element: { type: string }
                  narrative: { type: string }
                  config_version: { type: string }
                  seed_id: { type: string }
                  factors:
                    type: object
                    properties:
                      photo_quality: { type: number }
                      completeness: { type: number }
                      species_weight: { type: number }
                      breed_weight: { type: number }
                      color_weight: { type: number }
                      base_score: { type: number }
                      random_jitter: { type: number }
                      final_score: { type: number }
                      quality_band: { type: string }
                  inference_id: { type: string }
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/sync/animal:
    post:
      tags: [Sync]
      summary: Upsert single animal (idempotent)
      description: |
        Validates and persists one animal. Single and batch share the same
        validateAndSyncOne domain path. Returns stable reason_code on failure;
        never leaks raw database errors.
      operationId: syncAnimal
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncAnimalRequest"
      responses:
        "201":
          description: Synced
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncAnimalResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/sync/animals:
    post:
      tags: [Sync]
      summary: Batch upsert animals (non-atomic per-item results)
      description: |
        Non-atomic batch: each item is validated and synced independently via
        the same validateAndSyncOne path as POST /sync/animal. Max 100 items.
        Response is always a results array with per-item status and reason_code;
        raw DB errors are never returned.
      operationId: syncAnimalsBatch
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchSyncRequest"
      responses:
        "200":
          description: Per-item batch results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchSyncResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    get:
      tags: [Sync]
      summary: Pull animals (cursor)
      description: |
        Pull animals by server_version cursor (`since_version`).
        Soft-deleted animals are returned as tombstones only
        (`uuid`, `deleted_at`, `server_version`) — never full content or precise coordinates.
      operationId: pullAnimals
      security:
        - bearerAuth: []
      parameters:
        - name: since_version
          in: query
          schema:
            type: integer
            format: int64
          description: Exclusive lower bound of server_version
        - name: cursor
          in: query
          schema:
            type: string
          description: Deprecated alias; prefer since_version
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Animals page (active rows + tombstones)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/privacy/consent:
    post:
      tags: [Privacy]
      summary: Record consent
      operationId: putConsent
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Saved
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/privacy/export:
    post:
      tags: [Privacy]
      summary: Request data export
      description: |
        Default complete export: paginates all animals (beyond 200), consent,
        security report metadata (no raw payloads), data_request history (no nested payloads),
        orders and entitlements when present. Precise coordinates are always redacted.
        Optional `cursor` query returns a single page for large exports.
      operationId: exportData
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
          description: Optional animal id cursor for page-only export
      responses:
        "200":
          description: Export completed (or page)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/privacy/delete:
    post:
      tags: [Privacy]
      summary: Request data deletion
      description: |
        Transactional delete: soft-delete animals (tombstone + server_version bump),
        remove inferences and security reports, clear historical export payloads,
        deactivate entitlements, revoke consent, bump token_version.
        Orders are retained for legal/financial audit (not hard-deleted).
        Precise location fields are cleared; expired precise coords cleaned via maintenance hook.
      operationId: deleteData
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Delete accepted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/privacy/requests/{id}:
    get:
      tags: [Privacy]
      summary: Get privacy request status
      operationId: getPrivacyRequest
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Status
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/security/report:
    post:
      tags: [Security]
      summary: Client security report
      operationId: securityReport
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Accepted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/safety/report:
    post:
      tags: [Security]
      summary: Report abuse, injured animals, or other moderation concerns
      description: |
        Structured safety report path. Never accepts original images.
        Decision codes are public and stable; model internals are not returned.
      operationId: safetyReport
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SafetyReportRequest"
      responses:
        "202":
          description: Report accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SafetyReportResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/account/defaults:
    get:
      tags: [Security]
      summary: Account privacy/social defaults (stricter for minors)
      operationId: accountDefaults
      security:
        - bearerAuth: []
      parameters:
        - name: minor
          in: query
          required: false
          schema:
            type: string
            enum: ["0", "1", "true", "false"]
          description: When 1/true, return minor defaults (strict when STRICT_MINOR_DEFAULTS enabled)
      responses:
        "200":
          description: Defaults
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountDefaultsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/commerce/orders:
    post:
      tags: [Commerce]
      summary: Create order
      description: |
        Creates an order for an active catalog product.
        Idempotent on (device_id, idempotency_key).
        Returns 501/503 with reason_code commerce_not_ready when COMMERCE_ENABLED is false
        or production lacks COMMERCE_STORE_VERIFY.
      operationId: createOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id, idempotency_key]
              properties:
                product_id:
                  type: string
                idempotency_key:
                  type: string
                platform:
                  type: string
                  enum: [mock, apple, google]
      responses:
        "200":
          description: Existing order (idempotent replay)
        "201":
          description: Order created
        "404":
          description: Unknown or inactive product (reason_code product_not_found)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          description: Commerce disabled (reason_code commerce_not_ready)
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/commerce/orders/fulfill:
    post:
      tags: [Commerce]
      summary: Fulfill order
      description: |
        Fulfills a device-scoped order after receipt checks.
        Short receipts rejected. Outside production only platform=mock is allowed.
        Production requires COMMERCE_STORE_VERIFY and real store verification.
      operationId: fulfillOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id, receipt]
              properties:
                order_id:
                  type: string
                receipt:
                  type: string
      responses:
        "200":
          description: Fulfilled or already fulfilled
        "400":
          description: Invalid receipt or platform (reason_code receipt_too_short|platform_not_allowed|receipt_invalid)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          description: Commerce not ready
        "503":
          description: Fulfill disabled in production (reason_code fulfill_disabled)

  /api/v1/commerce/orders/refund:
    post:
      tags: [Commerce]
      summary: Device refund (forbidden)
      description: |
        Device JWT clients cannot initiate refunds.
        Always returns 403 with reason_code device_refund_forbidden.
        Use admin POST /api/v1/admin/commerce/orders/refund or platform webhook.
      operationId: refundOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "403":
          description: Device-initiated refund forbidden
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/commerce/orders/{id}:
    get:
      tags: [Commerce]
      summary: Get order
      operationId: getOrder
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/commerce/entitlements:
    get:
      tags: [Commerce]
      summary: List entitlements
      operationId: listEntitlements
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Entitlements
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/admin/commerce/orders/refund:
    post:
      tags: [Admin, Commerce]
      summary: Admin refund order
      description: |
        Admin/ops refund path. Requires X-Admin-Key.
        Device JWT clients must not call this.
      operationId: adminRefundOrder
      security:
        - adminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id]
              properties:
                order_id:
                  type: string
                device_id:
                  type: string
                reason:
                  type: string
      responses:
        "200":
          description: Refunded or already refunded
        "403":
          description: Missing or invalid admin key
        "404":
          description: Order not found
        "501":
          description: Commerce not ready
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/admin/commerce/webhooks/refund:
    post:
      tags: [Admin, Commerce]
      summary: Platform refund webhook stub
      description: |
        Stub webhook for store platform refund notifications.
        Currently authenticated with Admin API key; real integration will verify platform signatures.
      operationId: webhookRefundOrder
      security:
        - adminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id]
              properties:
                order_id:
                  type: string
                device_id:
                  type: string
                reason:
                  type: string
      responses:
        "200":
          description: Refunded
        "403":
          description: Missing or invalid admin key

  /api/v1/admin/audit/logs:
    get:
      tags: [Admin]
      summary: List audit logs
      operationId: listAuditLogs
      security:
        - adminKey: []
      responses:
        "200":
          description: Logs
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/admin/audit/logs/{id}/ack:
    post:
      tags: [Admin]
      summary: Ack audit log
      operationId: ackAuditLog
      security:
        - adminKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Acked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/ranking/daily:
    get:
      tags: [Product]
      summary: Daily regional ranking board
      description: |
        Requires FEATURE_RANKING=true. When disabled returns 501 with reason_code feature_unavailable.
        Production defaults FEATURE_RANKING=false.
      operationId: rankingDaily
      security:
        - bearerAuth: []
      parameters:
        - name: city
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Ranking board (may be empty but authoritative when enabled)
          content:
            application/json:
              schema:
                type: object
                properties:
                  city:
                    type: string
                  date:
                    type: string
                  entries:
                    type: array
                    items:
                      type: object
                  source:
                    type: string
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          $ref: "#/components/responses/FeatureUnavailable"

  /api/v1/pvp/match:
    post:
      tags: [Product]
      summary: Request PvP match
      description: |
        Requires FEATURE_PVP=true. When disabled returns 501 feature_unavailable.
        When enabled but matchmaking is not ready, returns 503 feature_unavailable (never empty match_id with 2xx).
      operationId: pvpMatch
      security:
        - bearerAuth: []
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          $ref: "#/components/responses/FeatureUnavailable"
        "503":
          $ref: "#/components/responses/FeatureUnavailable"

  /api/v1/pvp/result:
    post:
      tags: [Product]
      summary: Report PvP result (server-authoritative)
      description: |
        Requires FEATURE_PVP=true. Disabled or not-ready returns 501/503 feature_unavailable.
      operationId: pvpResult
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          $ref: "#/components/responses/FeatureUnavailable"
        "503":
          $ref: "#/components/responses/FeatureUnavailable"

  /api/v1/social/friends:
    get:
      tags: [Product]
      summary: List friends
      description: |
        Requires FEATURE_SOCIAL=true. When disabled returns 501 feature_unavailable.
      operationId: socialFriends
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Friends list
          content:
            application/json:
              schema:
                type: object
                properties:
                  friends:
                    type: array
                    items:
                      type: object
                  source:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          $ref: "#/components/responses/FeatureUnavailable"

  /api/v1/social/share:
    post:
      tags: [Product]
      summary: Create share link
      description: |
        Requires FEATURE_SOCIAL=true. When disabled or share not ready, returns 501/503 feature_unavailable
        (never pending share_id with 2xx).
      operationId: socialShare
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          $ref: "#/components/responses/FeatureUnavailable"
        "503":
          $ref: "#/components/responses/FeatureUnavailable"

  /api/v1/ops/metrics-summary:
    get:
      tags: [Product, Ops]
      summary: Internal ops metrics summary
      description: |
        Requires FEATURE_OPS=true AND internal authorization via X-AP-Ops-Token header
        or JWT role claim in {admin,ops,internal}. Ordinary devices receive 403 ops_forbidden.
        When FEATURE_OPS=false returns 501 feature_unavailable.
      operationId: opsMetricsSummary
      security:
        - bearerAuth: []
      parameters:
        - name: X-AP-Ops-Token
          in: header
          required: false
          schema:
            type: string
          description: Internal ops token (OPS_TOKEN or ADMIN_API_KEY)
      responses:
        "200":
          description: Metrics summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  dau:
                    type: integer
                  captures:
                    type: integer
                  source:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Ops access denied (reason_code ops_forbidden)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "501":
          $ref: "#/components/responses/FeatureUnavailable"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    adminKey:
      type: apiKey
      in: header
      name: X-Admin-Key

  parameters:
    Lat:
      name: lat
      in: query
      required: true
      schema:
        type: number
        format: double
        minimum: -90
        maximum: 90
    Lng:
      name: lng
      in: query
      required: true
      schema:
        type: number
        format: double
        minimum: -180
        maximum: 180
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string

  headers:
    RequestID:
      description: Request correlation ID
      schema:
        type: string
    RetryAfter:
      description: Seconds to wait before retry
      schema:
        type: integer

  responses:
    BadRequest:
      description: Bad request
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Unauthorized
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    PayloadTooLarge:
      description: Image too large
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    UnsupportedMediaType:
      description: Unsupported media type
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    TooManyRequests:
      description: Rate limited
      headers:
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
        X-Request-ID:
          $ref: "#/components/headers/RequestID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServiceUnavailable:
      description: Dependency unavailable
      headers:
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
        X-Request-ID:
          $ref: "#/components/headers/RequestID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ServiceUnavailableError"
    FeatureUnavailable:
      description: Product feature disabled or not ready (reason_code feature_unavailable)
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/FeatureUnavailableError"

  schemas:
    Error:
      type: object
      required: [error, reason_code, retryable]
      properties:
        error:
          type: string
          description: Human-readable error message (safe for clients)
          example: invalid JSON body
        reason_code:
          type: string
          description: Machine-readable reason code
          example: bad_request
        request_id:
          type: string
    FeatureUnavailableError:
      type: object
      required: [error, reason_code]
      properties:
        error:
          type: string
          example: feature unavailable
        reason_code:
          type: string
          example: feature_unavailable
        feature:
          type: string
          description: ranking|pvp|social|ops
        request_id:
          type: string
    ServiceUnavailableError:
      allOf:
        - $ref: "#/components/schemas/Error"
        - type: object
          required: [error, reason_code, retryable]
          properties:
            error:
              type: string
              example: service unavailable
            reason_code:
              type: string
              example: db_unavailable
            retryable:
              type: boolean
              example: true
    HealthResponse:
      type: object
      required: [status, time]
      properties:
        status:
          type: string
          example: ok
        time:
          type: string
          format: date-time
    ReadyResponse:
      type: object
      required: [ready]
      properties:
        ready:
          type: boolean
        app_env:
          type: string
        db:
          type: string
          enum: [up, down, unavailable]
        schema:
          type: string
        config_errors:
          type: array
          items:
            type: string
    TimeResponse:
      type: object
      required: [server_time, unix_ms, nonce, signature, expires_in]
      properties:
        server_time:
          type: string
        unix_ms:
          type: integer
          format: int64
        nonce:
          type: string
        signature:
          type: string
        expires_in:
          type: integer
    AuthDeviceRequest:
      type: object
      required: [device_id]
      properties:
        device_id:
          type: string
          description: UUID or 8-64 alphanumeric/_-
        installation_secret:
          type: string
          description: Required after first registration; proves device ownership
    AuthDeviceResponse:
      type: object
      required: [token, expires_at, token_type]
      properties:
        token:
          type: string
        expires_at:
          type: string
        token_type:
          type: string
          example: Bearer
        account_id:
          type: string
        guest:
          type: boolean
    AuthBindRequest:
      type: object
      required: [provider]
      properties:
        provider:
          type: string
          enum: [email, mock_oauth]
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        oauth_subject:
          type: string
        oauth_token:
          type: string
          description: Mock OAuth secret; server stores only a hash
        display_name:
          type: string
    AuthLoginRequest:
      type: object
      required: [device_id, provider]
      properties:
        device_id:
          type: string
        provider:
          type: string
          enum: [email, mock_oauth]
        email:
          type: string
        password:
          type: string
        oauth_subject:
          type: string
        oauth_token:
          type: string
    AuthAccountResponse:
      type: object
      required: [token, expires_at, token_type]
      properties:
        token:
          type: string
        expires_at:
          type: string
        token_type:
          type: string
        account_id:
          type: string
        refresh_token:
          type: string
          description: Returned once; server stores only hash
        guest:
          type: boolean
        merge:
          type: object
          properties:
            animals_moved:
              type: integer
            animals_skipped:
              type: integer
            entitlements_moved:
              type: integer
            entitlements_merged:
              type: integer
            orders_moved:
              type: integer
    AuthAccountInfo:
      type: object
      properties:
        guest:
          type: boolean
        account_id:
          type: string
        display_name:
          type: string
        status:
          type: string
        device_id:
          type: string
    AuthDeviceList:
      type: object
      properties:
        guest:
          type: boolean
        account_id:
          type: string
        items:
          type: array
          items:
            type: object
            properties:
              device_id:
                type: string
              device_label:
                type: string
              status:
                type: string
              linked_at:
                type: string
              last_seen_at:
                type: string
              revoked_at:
                type: string
              current:
                type: boolean
    CityResponse:
      type: object
      additionalProperties: true
      properties:
        city:
          type: string
        province:
          type: string
        country:
          type: string
    WeatherWeekResponse:
      type: object
      additionalProperties: true
      properties:
        week:
          type: array
          items:
            type: object
            additionalProperties: true
        source:
          type: string
    VisionDetectBox:
      type: object
      required: [species, confidence, target_id, bounding_box]
      properties:
        species:
          type: string
          enum: [cat, dog, goose]
        label:
          type: string
        target_id:
          type: string
        confidence:
          type: number
          minimum: 0
          maximum: 1
        bounding_box:
          type: object
          required: [x, y, width, height]
          properties:
            x: { type: number, minimum: 0, maximum: 1 }
            y: { type: number, minimum: 0, maximum: 1 }
            width: { type: number, minimum: 0, maximum: 1 }
            height: { type: number, minimum: 0, maximum: 1 }
    VisionDetectResponse:
      type: object
      additionalProperties: true
      properties:
        animals:
          type: array
          items:
            $ref: "#/components/schemas/VisionDetectBox"
          description: Backward-compatible alias of targets
        targets:
          type: array
          items:
            $ref: "#/components/schemas/VisionDetectBox"
          description: Multi-animal targets with stable target_id
        inference_id:
          type: string
        reason_code:
          type: string
          description: Public reason when empty or rejected (e.g. reject_portrait)
        source:
          type: string
        safety:
          $ref: "#/components/schemas/SafetySummary"
    SafetySummary:
      type: object
      required: [allowed, collectable, decision_code, action]
      properties:
        allowed:
          type: boolean
        collectable:
          type: boolean
        decision_code:
          type: string
          description: Public moderation code (no model internals)
          enum:
            - ok
            - reject_portrait
            - reject_child_focus
            - reject_sensitive
            - reject_unsafe
            - flag_sensitive
            - flag_abuse
            - flag_injured
        action:
          type: string
          enum: [allow, reject, flag]
        flags:
          type: array
          items:
            type: string
            enum: [face, child, plate, house, abuse, injured]
        report_path:
          type: string
          enum: [abuse, injured]
    SafetyReportRequest:
      type: object
      required: [category]
      properties:
        category:
          type: string
          enum: [abuse, injured, portrait, sensitive, other]
        inference_id:
          type: string
        note:
          type: string
          maxLength: 1000
        decision_code:
          type: string
    SafetyReportResponse:
      type: object
      required: [status, report_id, decision_code, category]
      properties:
        status:
          type: string
          example: accepted
        report_id:
          type: string
        decision_code:
          type: string
        category:
          type: string
        request_id:
          type: string
    AccountDefaultsResponse:
      type: object
      properties:
        defaults:
          type: object
          additionalProperties: true
          properties:
            audience:
              type: string
              enum: [minor, adult]
            strict:
              type: boolean
            play_hours_start:
              type: integer
            play_hours_end:
              type: integer
            daily_limit_min:
              type: integer
            location_scope:
              type: string
              enum: [none, city, precise]
            social_enabled:
              type: boolean
        config:
          type: object
          properties:
            strict_minor_defaults:
              type: boolean
        request_id:
          type: string
        server_time:
          type: string
          format: date-time
