openapi: 3.1.0
info:
  title: Animal Poke Backend API
  version: 1.0.0
  description: |
    Go 后端 API 契约（OpenAPI 3.1）。
    客户端仅持有 API Base URL + 设备 Token；第三方 Key 永不进入前端。
  contact:
    name: animal_poke team
  license:
    name: Proprietary
    url: https://github.com/Bluepoisons/animal_poke
servers:
  - url: https://api.animal-poke.app
    description: Production
  - url: https://api.staging.animal-poke.app
    description: Staging

tags:
  - name: Health
  - name: Content
    description: Versioned multi-locale content manifests (AP-080)
  - name: LiveOps
    description: Server-authoritative season and event instances (AP-081)
  - name: Notifications
    description: Inbox, outbox delivery and push preferences (AP-084)
  - name: Cases
    description: Unified backoffice case workflow (AP-086)
  - name: Auth
    description: Device registration, account binding and JWT issuance
  - name: Geo
    description: Reverse geocoding and location helpers
  - name: Weather
    description: Weather queries proxied via backend
  - name: Vision
    description: Image animal detection and analysis
  - name: Value
    description: Pet value generation
  - name: Adventure
    description: AI-generated Simplified Chinese companion expeditions and authoritative bond settlement
  - name: Sync
    description: Animal collection sync APIs
  - name: Privacy
    description: Consent, export and deletion requests
  - name: Security
    description: Client security and trusted time endpoints
  - name: Commerce
    description: Orders and entitlements
  - name: Economy
    description: Wallet balances, immutable reward ledger and inventory
  - name: Quest
    description: Data-driven quests, trusted progress events and idempotent reward claims
  - name: Photo
    description: Photography quality skill — calibration, scoring, personal best, daily themes (AP-098)
  - name: Admin
    description: Admin audit APIs
  - name: Observability
    description: Metrics and operational endpoints
  - name: Analytics
    description: Privacy-friendly funnel event ingest
  - name: Growth
    description: Researcher growth tracks, virtual companion profiles and authoritative growth events (AP-099)
  - name: Battle
    description: Team skills statuses archetypes and authoritative PvE settlement (AP-102)
  - name: Product
    description: Product feature endpoints (ranking/pvp placeholders)
  - name: PvP
    description: Player versus player matchmaking and settlement

paths:
  /health:
    get:
      tags: [Health]
      summary: Liveness (legacy)
      operationId: getHealth
      security: []
      responses:
        "200":
          description: Process alive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
  /livez:
    get:
      tags: [Health]
      summary: Liveness
      operationId: getLivez
      security: []
      responses:
        "200":
          description: Process alive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
  /ready:
    get:
      tags: [Health]
      summary: Readiness (legacy)
      operationId: getReady
      security: []
      responses:
        "200":
          description: Ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "503":
          description: Not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
  /readyz:
    get:
      tags: [Health]
      summary: Readiness
      operationId: getReadyz
      security: []
      responses:
        "200":
          description: Ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "503":
          description: Not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
  /metrics:
    get:
      tags: [Observability]
      summary: Prometheus metrics (management plane only)
      description: |
        **AP-036**: Metrics are NOT available on the public API / Ingress port.
        Public `GET /metrics` on the main server returns **404**.

        Scrape the dedicated management listener instead:
        - Env: `METRICS_ADDR` (default `:9090`)
        - Path: `GET /metrics` on that address only
        - Kubernetes: ClusterIP Service `animal-poke-backend-metrics:9090`
          (never attach this Service to Ingress)

        Label set is fixed-cardinality: Gin route templates via `c.FullPath()`,
        unmatched routes use path=`unknown`, status is bucketed (`2xx`/`4xx`/…).
      operationId: getMetrics
      security: []
      responses:
        "200":
          description: Prometheus text exposition (management port only)
          content:
            text/plain:
              schema:
                type: string
        "404":
          description: Public API port deliberately does not expose metrics
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v1/ping:
    get:
      tags: [Health]
      summary: Ping
      operationId: ping
      security: []
      responses:
        "200":
          description: Pong
          content:
            application/json:
              schema:
                type: object
                required: [msg]
                properties:
                  msg:
                    type: string
                    example: pong
                  db:
                    type: boolean
                  app_env:
                    type: string
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v1/time:
    get:
      tags: [Security]
      summary: Trusted server time
      operationId: getTime
      security: []
      responses:
        "200":
          description: Signed server time
          headers:
            X-Server-Time:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v1/version:
    get:
      operationId: getClientVersion
      tags: [Health]
      summary: Client version negotiation (AP-089)
      description: |
        Returns min/current client version metadata and optional deprecation headers.
        Clients SHOULD send `X-Client-Version` on subsequent requests.
      security: []
      parameters:
        - name: X-Client-Version
          in: header
          required: false
          schema: { type: string }
          description: Client semantic version or build id
      responses:
        '200':
          description: Version negotiation payload
          headers:
            Deprecation:
              schema: { type: string }
            Sunset:
              schema: { type: string }
          content:
            application/json:
              schema:
                type: object
                properties:
                  min_client_version: { type: string }
                  current_api_version: { type: string }
                  recommended_client_version: { type: string }
                  deprecated: { type: boolean }
                  sunset_at:
                    type: string
                    format: date-time
                  capabilities:
                    type: object
                    additionalProperties: true
        '426':
          description: Client below minimum supported version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/auth/device:
    post:
      tags: [Auth]
      summary: Register device and issue JWT
      description: |
        First registration generates an `installation_secret` (returned once).
        Subsequent token refresh must include the secret; knowing only `device_id` is insufficient.
      operationId: authDevice
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthDeviceRequest"
      responses:
        "200":
          description: Token issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthDeviceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/auth/bind:
    post:
      tags: [Auth]
      summary: Bind current device to an account (email; mock_oauth only when AUTH_MOCK_OAUTH_ENABLED)
      description: |
        Guest remains default. Binding creates or attaches an account, merges guest
        animals/entitlements without double-granting rewards. Credentials are stored hashed.
        New email bindings start unverified (AP-079); OAuth bindings are verified immediately.
        Unverified email cannot be used as a recovery credential on subsequent bind/login.
      operationId: authBind
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthBindRequest"
      responses:
        "200":
          description: Bound and token re-issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthAccountResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/auth/login:
    post:
      tags: [Auth]
      summary: Login to recover after clearing local data (email; mock_oauth only when AUTH_MOCK_OAUTH_ENABLED)
      description: |
        Recovers an account onto the provided `device_id`.
        **New device** (unknown device_id): links without ownership proof and does not claim another device's assets.
        **Claim existing guest assets** or **re-enable a revoked device**: requires `installation_secret` or a one-time `migration_ticket`.
        Knowing only another user's `device_id` is insufficient to merge their animals/orders/entitlements (AP-076).
      operationId: authLogin
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthLoginRequest"
      responses:
        "200":
          description: Logged in; guest assets on device_id merged only when ownership proof is valid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthAccountResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Device ownership proof required or device remains revoked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Migration ticket replay or device bound to another account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/auth/refresh:
    post:
      tags: [Auth]
      summary: Rotate refresh token and issue new access token
      description: |
        Rotate-on-use refresh (AP-078). Server stores only peppered hashes.
        Concurrent refresh of the same token: exactly one succeeds; others return
        `refresh_conflict` (409) within the grace window.
        Reuse of an already-rotated token outside the grace window revokes the
        entire token family (`refresh_token_reused`) and bumps device token_version.
        Absolute and idle expiry are enforced. Device revoke / logout / privacy delete
        invalidate refresh families.
      operationId: authRefresh
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRefreshRequest"
      responses:
        "200":
          description: New access + refresh pair
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthAccountResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          description: Invalid, expired, revoked, or reused refresh token
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: Account disabled
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Concurrent refresh race (reason_code=refresh_conflict)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/auth/logout:
    post:
      tags: [Auth]
      summary: Logout current device (bump token version, clear refresh hash)
      operationId: authLogout
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Logged out
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: logged_out
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/auth/account:
    get:
      tags: [Auth]
      summary: Current account profile (guest if unbound)
      operationId: authAccount
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Account or guest
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthAccountInfo"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/auth/devices:
    get:
      tags: [Auth]
      summary: List devices linked to current account
      operationId: authListDevices
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Device list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthDeviceList"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/auth/devices/revoke:
    post:
      tags: [Auth]
      summary: Revoke a lost device
      operationId: authRevokeDevice
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id]
              properties:
                device_id:
                  type: string
      responses:
        "200":
          description: Device revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  device_id:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Device not found

  /api/v1/auth/email/verify/request:
    post:
      tags: [Auth]
      summary: Request email verification mail (anti-enumeration)
      description: |
        Always returns 200 `accepted` whether or not the email exists or is pending (AP-079).
        Only unverified email bindings receive a verification token (TTL = EMAIL_VERIFY_TTL).
      operationId: authEmailVerifyRequest
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthEmailRequest"
      responses:
        "200":
          description: Accepted (anti-enumeration)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthAcceptedResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/auth/email/verify:
    post:
      tags: [Auth]
      summary: Verify email with one-time token
      description: Consumes an email_verify security token; replay is rejected (AP-079).
      operationId: authEmailVerify
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthTokenRequest"
      responses:
        "200":
          description: Email verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: verified
                  account_id:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Token replay
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/auth/password/forgot:
    post:
      tags: [Auth]
      summary: Request password reset mail (anti-enumeration)
      description: |
        Always returns 200 `accepted`. Only verified email bindings receive a reset token (AP-079).
        Unverified emails cannot recover.
      operationId: authPasswordForgot
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthEmailRequest"
      responses:
        "200":
          description: Accepted (anti-enumeration)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthAcceptedResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/auth/password/reset:
    post:
      tags: [Auth]
      summary: Reset password with one-time token
      description: |
        Consumes password_reset token, updates password hash, and revokes all access/refresh sessions (AP-079).
      operationId: authPasswordReset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthPasswordResetRequest"
      responses:
        "200":
          description: Password reset
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: password_reset
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Token replay
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/auth/password/change:
    post:
      tags: [Auth]
      summary: Change password (authenticated)
      description: |
        Requires verified email binding and current password. Invalidates all sessions and
        re-issues access/refresh for the current device (AP-079).
      operationId: authPasswordChange
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthPasswordChangeRequest"
      responses:
        "200":
          description: Password changed; new tokens issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthAccountResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/auth/unbind:
    post:
      tags: [Auth]
      summary: Unbind a provider
      description: |
        Requires reauth_password or reauth_token. Cannot remove the last recovery method
        (verified email or OAuth) (AP-079).
      operationId: authUnbind
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthUnbindRequest"
      responses:
        "200":
          description: Unbound
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  provider:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Re-auth required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Last recovery method
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/auth/reauth:
    post:
      tags: [Auth]
      summary: Issue short-lived re-auth token
      description: Verifies password against verified email binding and returns a reauth token (AP-079).
      operationId: authReauth
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [password]
              properties:
                password:
                  type: string
      responses:
        "200":
          description: Reauth token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  reauth_token:
                    type: string
                  expires_at:
                    type: string
                  token_type:
                    type: string
                    example: reauth
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/geo/city:
    get:
      tags: [Geo]
      summary: Reverse geocode city
      operationId: getCity
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Lat"
        - $ref: "#/components/parameters/Lng"
      responses:
        "200":
          description: City info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/weather/week:
    get:
      tags: [Weather]
      summary: Weekly weather
      operationId: getWeatherWeek
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Lat"
        - $ref: "#/components/parameters/Lng"
      responses:
        "200":
          description: Week weather
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherWeekResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/vision/detect:
    post:
      tags: [Vision]
      summary: Detect animals in image
      operationId: visionDetect
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
      responses:
        "200":
          description: Detection result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisionDetectResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/vision/detect/corrections:
    post:
      tags: [Vision]
      summary: Confirm a corrected species and create a derived detect credential
      description: |
        Creates an immutable detect inference derived from the original model result.
        Analyze remains strict and accepts the corrected species only with the returned credential.
        A concrete Simplified Chinese species label is always required; unregistered real animals
        use species=other_animal with labels such as 赤狐 or 仓鼠.
      operationId: visionDetectCorrection
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VisionCorrectionRequest"
      responses:
        "201":
          description: Derived user-confirmed detect credential
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisionCorrectionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/vision/analyze:
    post:
      tags: [Vision]
      summary: Analyze selected animal target from a prior detect
      operationId: visionAnalyze
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
                detect_inference_id:
                  type: string
                  description: Parent detect inference id (required when provenance is enabled)
                parent_inference_id:
                  type: string
                  description: Alias of detect_inference_id
                target_id:
                  type: string
                  description: Stable target id from detect.targets
                species:
                  type: string
                  description: Claimed species; must match the original or user-confirmed detect credential
                species_label_zh:
                  type: string
                  description: Concrete Simplified Chinese species name inherited from the detect credential
                box:
                  type: string
                  description: JSON bounding box {x,y,width,height} fractions 0-1
                box_x:
                  type: number
                box_y:
                  type: number
                box_width:
                  type: number
                box_height:
                  type: number
      responses:
        "200":
          description: Analysis result for the locked target
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisionAnalyzeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "422":
          description: Invalid model analysis output
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/value/generate:
    post:
      tags: [Value]
      summary: Generate pet stats/narrative (deterministic rarity/stats)
      description: |
        Rarity and battle stats are computed server-side via HMAC-seeded algorithm
        (seed = parent/capture inference id + config_version + server secret).
        LLM only supplies narrative. The server persists the animal in the same
        transaction as its value inference; no client-side animal sync is required.
        Response includes factors for transparency and the created animal UUID.
      operationId: valueGenerate
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [species]
              properties:
                species: { type: string }
                species_label_zh: { type: string, description: Concrete Simplified Chinese species name from trusted lineage }
                breed: { type: string }
                color: { type: string }
                body_type: { type: string }
                subject_completeness: { type: integer, minimum: 1, maximum: 10 }
                clarity: { type: integer, minimum: 1, maximum: 10 }
                lighting: { type: integer, minimum: 1, maximum: 10 }
                composition: { type: integer, minimum: 1, maximum: 10 }
                pose: { type: integer, minimum: 1, maximum: 10 }
                angle: { type: integer, minimum: 1, maximum: 10 }
                parent_inference_id: { type: string }
                analyze_inference_id: { type: string }
                inference_request_id: { type: string }
                capture_id: { type: string }
              additionalProperties: true
      responses:
        "200":
          description: Generated value with deterministic stats and factors
          content:
            application/json:
              schema:
                type: object
                properties:
                  rarity: { type: integer, minimum: 1, maximum: 5 }
                  species_label_zh: { type: string }
                  hp: { type: integer }
                  atk: { type: integer }
                  def: { type: integer }
                  spd: { type: integer }
                  class: { type: string }
                  element: { type: string }
                  narrative: { type: string }
                  fiction: { type: boolean, description: Always true — fictional vignette only (AP-131) }
                  disclaimer: { type: string }
                  layer: { type: string, description: fictional_vignette }
                  policy_version: { type: string }
                  config_version: { type: string }
                  seed_id: { type: string }
                  factors:
                    type: object
                    properties:
                      photo_quality: { type: number }
                      completeness: { type: number }
                      species_weight: { type: number }
                      breed_weight: { type: number }
                      color_weight: { type: number }
                      base_score: { type: number }
                      random_jitter: { type: number }
                      final_score: { type: number }
                      quality_band: { type: string }
                  inference_id: { type: string }
                  animal_uuid: { type: string, format: uuid, description: Server-persisted animal record UUID }
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/adventures:
    get:
      tags: [Adventure]
      summary: List recent companion adventures
      operationId: adventureList
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: animal_uuid
          schema: { type: string, format: uuid }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 50, default: 12 }
      responses:
        "200":
          description: Recent adventure summaries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdventureListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Adventure]
      summary: Generate one Simplified Chinese AI companion adventure
      description: |
        Loads the owned animal and companion bond from server-authoritative data,
        then asks the configured AI provider for one fully fictional Chinese encounter.
        Production does not silently replace provider failures with authored stories.
        Choice outcomes and the souvenir remain hidden until settlement.
      operationId: adventureCreate
      security:
        - bearerAuth: []
      parameters:
        - in: header
          name: Idempotency-Key
          required: true
          schema: { type: string, maxLength: 128 }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdventureGenerateRequest"
      responses:
        "201":
          description: Adventure generated and persisted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdventureStory"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/adventures/{run_id}:
    get:
      tags: [Adventure]
      summary: Restore one generated adventure
      operationId: adventureGet
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: run_id
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Adventure state without unselected outcome spoilers
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdventureDetailResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"

  /api/v1/adventures/{run_id}/choices:
    post:
      tags: [Adventure]
      summary: Resolve one adventure choice and grant companion memory XP
      operationId: adventureChoose
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: run_id
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AdventureChoiceRequest"
      responses:
        "200":
          description: Idempotent resolved outcome and authoritative companion bond
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdventureCompletionResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"


  /api/v1/photo/calibration:
    get:
      tags: [Photo]
      summary: Get device photography calibration
      description: |
        Returns per-owner sensor baseline used to normalize stability/lighting scores.
        Uncalibrated devices receive neutral defaults.
      operationId: photoGetCalibration
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Current calibration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhotoCalibrationResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/photo/calibrate:
    post:
      tags: [Photo]
      summary: Submit device calibration samples
      description: |
        Idle-hold stability RMS samples and optional lighting offsets.
        Server blends into owner baseline (EMA). Bad samples are filtered.
      operationId: photoCalibrate
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [stability_samples]
              properties:
                stability_samples:
                  type: array
                  items: { type: number }
                  maxItems: 200
                lighting_offsets:
                  type: array
                  items: { type: number }
                device_model: { type: string }
      responses:
        "200":
          description: Updated calibration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhotoCalibrationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/photo/score:
    post:
      tags: [Photo]
      summary: Score observation quality (server-authoritative)
      description: |
        Deterministic six-dimension skill score: stability, subject completeness,
        lighting, occlusion, composition, safe distance.
        Results are HMAC-signed. Closer/chase never improves rarity contribution.
        Daily cap and metrics-digest dedupe prevent farming.
      operationId: photoScore
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [metrics]
              properties:
                metrics:
                  $ref: "#/components/schemas/PhotoMetrics"
                theme_id: { type: string }
                a11y_completed: { type: boolean }
                persist: { type: boolean, description: "false = dry-run without consuming daily cap" }
      responses:
        "200":
          description: Score result with signature and optional personal best
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhotoScoreResponse"
        "400":
          description: Bad sensor input
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Duplicate metrics fingerprint today
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "429":
          description: Daily score cap reached
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/photo/personal-best:
    get:
      tags: [Photo]
      summary: Get photography personal best scores
      operationId: photoPersonalBest
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Personal best dimensions
          content:
            application/json:
              schema:
                type: object
                properties:
                  personal_best:
                    $ref: "#/components/schemas/PhotoPersonalBest"
                  config_version: { type: string }
                  request_id: { type: string }
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/photo/theme/daily:
    get:
      tags: [Photo]
      summary: Get daily photography theme with accessibility alternative
      description: |
        Every daily challenge includes a non-visual / reduced-motion alternative goal.
      operationId: photoDailyTheme
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Theme and progress
          content:
            application/json:
              schema:
                type: object
                properties:
                  theme:
                    $ref: "#/components/schemas/PhotoDailyTheme"
                  progress:
                    $ref: "#/components/schemas/PhotoThemeProgress"
                  config_version: { type: string }
                  request_id: { type: string }
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/photo/theme/progress:
    post:
      tags: [Photo]
      summary: Mark accessibility alternative complete for today's theme
      operationId: photoThemeProgress
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                theme_id: { type: string }
                a11y_completed: { type: boolean }
      responses:
        "200":
          description: Updated theme progress
          content:
            application/json:
              schema:
                type: object
                properties:
                  theme:
                    $ref: "#/components/schemas/PhotoDailyTheme"
                  progress:
                    $ref: "#/components/schemas/PhotoThemeProgress"
                  config_version: { type: string }
                  request_id: { type: string }
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/sync/animal:
    post:
      tags: [Sync]
      summary: Upsert single animal (idempotent)
      description: |
        Validates and persists one animal. Single and batch share the same
        validateAndSyncOne domain path. Returns stable reason_code on failure;
        never leaks raw database errors.
      operationId: syncAnimal
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncAnimalRequest"
      responses:
        "201":
          description: Synced
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncAnimalResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/sync/animals:
    post:
      tags: [Sync]
      summary: Batch upsert animals (non-atomic per-item results)
      description: |
        Non-atomic batch: each item is validated and synced independently via
        the same validateAndSyncOne path as POST /sync/animal. Max 100 items.
        Response is always a results array with per-item status and reason_code;
        raw DB errors are never returned.
      operationId: syncAnimalsBatch
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchSyncRequest"
      responses:
        "200":
          description: Per-item batch results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchSyncResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    get:
      tags: [Sync]
      summary: Pull animals (cursor)
      description: |
        Pull animals by server_version cursor (`since_version`).
        Soft-deleted animals are returned as tombstones only
        (`uuid`, `deleted_at`, `server_version`) — never full content or precise coordinates.
      operationId: pullAnimals
      security:
        - bearerAuth: []
      parameters:
        - name: since_version
          in: query
          schema:
            type: integer
            format: int64
          description: Exclusive lower bound of server_version
        - name: cursor
          in: query
          schema:
            type: string
          description: Deprecated alias; prefer since_version
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Animals page (active rows + tombstones)
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/sync/animals/{uuid}:
    get:
      tags: [Sync]
      summary: Get single collection animal detail
      description: |
        Returns one owned animal by uuid. Soft-deleted animals return a minimal
        tombstone (`uuid`, `deleted_at`, `server_version`). Unauthorized access
        returns 404 (no existence leak).
      operationId: getAnimalDetail
      security:
        - bearerAuth: []
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Animal detail or tombstone
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionAnimalDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Not found or not owned
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    patch:
      tags: [Sync]
      summary: Patch collection animal (nickname/favorite/locked)
      description: |
        Partial update of client-editable collection metadata.
        Optimistic lock via `If-Match` header (preferred) or body `server_version`.
        On version conflict returns 409 with `current` representation for merge.
      operationId: patchAnimal
      security:
        - bearerAuth: []
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: If-Match
          in: header
          required: false
          schema:
            type: string
          description: Expected server_version (quoted ETag supported)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CollectionAnimalPatch"
      responses:
        "200":
          description: Updated animal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionAnimalDetail"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Not found or not owned
        "409":
          description: Version conflict / already deleted / locked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionVersionConflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    delete:
      tags: [Sync]
      summary: Soft-delete animal (tombstone)
      description: |
        Soft-deletes one animal and bumps server_version for pull.
        Response is a minimal tombstone only — never full content.
        Requires If-Match or query server_version. Locked animals return 409.
        Double delete returns 409 already_deleted with current tombstone.
      operationId: deleteAnimal
      security:
        - bearerAuth: []
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: If-Match
          in: header
          required: false
          schema:
            type: string
        - name: server_version
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Tombstone
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionTombstone"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Not found or not owned
        "409":
          description: Version conflict / already deleted / locked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionVersionConflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/collection/{uuid}:
    get:
      tags: [Sync]
      summary: Get collection animal (alias of /sync/animals/{uuid})
      operationId: getCollectionAnimal
      security:
        - bearerAuth: []
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Animal detail or tombstone
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionAnimalDetail"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Not found or not owned
    patch:
      tags: [Sync]
      summary: Patch collection animal (alias)
      operationId: patchCollectionAnimal
      security:
        - bearerAuth: []
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: If-Match
          in: header
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CollectionAnimalPatch"
      responses:
        "200":
          description: Updated animal
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionAnimalDetail"
        "409":
          description: Version conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionVersionConflict"
    delete:
      tags: [Sync]
      summary: Soft-delete collection animal (alias)
      operationId: deleteCollectionAnimal
      security:
        - bearerAuth: []
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: If-Match
          in: header
          schema:
            type: string
      responses:
        "200":
          description: Tombstone
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionTombstone"
        "409":
          description: Version conflict / already deleted / locked
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionVersionConflict"


  /api/v1/privacy/consent:
    post:
      tags: [Privacy]
      summary: Record consent
      operationId: putConsent
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Saved
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/privacy/export:
    post:
      tags: [Privacy]
      summary: Request data export
      description: |
        Default complete export: paginates all animals (beyond 200), consent,
        security report metadata (no raw payloads), data_request history (no nested payloads),
        orders and entitlements when present. Precise coordinates are always redacted.
        Optional `cursor` query returns a single page for large exports.
      operationId: exportData
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
          description: Optional animal id cursor for page-only export
      requestBody:
        required: false
        description: 可选导出范围；省略请求体或 scope 时默认仅导出当前设备数据
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivacyExportRequest"
      responses:
        "200":
          description: Export completed (or page)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/privacy/delete:
    post:
      tags: [Privacy]
      summary: Request data deletion
      description: |
        scope=device (default) deletes this device only.
        scope=account requires reauth_password or reauth_token and confirm=DELETE; wipes all devices under the account (AP-077/AP-079).
        Transactional delete: soft-delete animals (tombstone + server_version bump),
        remove inferences and security reports, clear historical export payloads,
        deactivate entitlements, revoke consent, bump token_version.
        Orders are retained for legal/financial audit (not hard-deleted).
        Precise location fields are cleared; expired precise coords cleaned via maintenance hook.
      operationId: deleteData
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Delete accepted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/privacy/requests/{id}:
    get:
      tags: [Privacy]
      summary: Get privacy request status
      operationId: getPrivacyRequest
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Status
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/security/report:
    post:
      tags: [Security]
      summary: Client security report
      operationId: securityReport
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Accepted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/safety/report:
    post:
      tags: [Security]
      summary: Report abuse, injured animals, or other moderation concerns
      description: |
        Structured safety report path. Never accepts original images.
        Decision codes are public and stable; model internals are not returned.
      operationId: safetyReport
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SafetyReportRequest"
      responses:
        "202":
          description: Report accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SafetyReportResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/account/defaults:
    get:
      tags: [Security]
      summary: Account privacy/social defaults (stricter for minors)
      operationId: accountDefaults
      security:
        - bearerAuth: []
      parameters:
        - name: minor
          in: query
          required: false
          schema:
            type: string
            enum: ["0", "1", "true", "false"]
          description: When 1/true, return minor defaults (strict when STRICT_MINOR_DEFAULTS enabled)
      responses:
        "200":
          description: Defaults
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountDefaultsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/commerce/orders:
    post:
      tags: [Commerce]
      summary: Create order
      description: |
        Creates an order for an active catalog product.
        Idempotent on (device_id, idempotency_key).
        Returns 501/503 with reason_code commerce_not_ready when COMMERCE_ENABLED is false
        or production lacks COMMERCE_STORE_VERIFY.
      operationId: createOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id, idempotency_key]
              properties:
                product_id:
                  type: string
                idempotency_key:
                  type: string
                platform:
                  type: string
                  enum: [mock, apple, google]
      responses:
        "200":
          description: Existing order (idempotent replay)
        "201":
          description: Order created
        "404":
          description: Unknown or inactive product (reason_code product_not_found)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          description: Commerce disabled (reason_code commerce_not_ready)
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/commerce/orders/fulfill:
    post:
      tags: [Commerce]
      summary: Fulfill order
      description: |
        Fulfills a device-scoped order after receipt checks.
        Short receipts rejected. Outside production only platform=mock is allowed.
        Production requires COMMERCE_STORE_VERIFY and real store verification.
      operationId: fulfillOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id, receipt]
              properties:
                order_id:
                  type: string
                receipt:
                  type: string
      responses:
        "200":
          description: Fulfilled or already fulfilled
        "400":
          description: Invalid receipt or platform (reason_code receipt_too_short|platform_not_allowed|receipt_invalid)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          description: Commerce not ready
        "503":
          description: Fulfill disabled in production (reason_code fulfill_disabled)

  /api/v1/commerce/orders/refund:
    post:
      tags: [Commerce]
      summary: Device refund (forbidden)
      description: |
        Device JWT clients cannot initiate refunds.
        Always returns 403 with reason_code device_refund_forbidden.
        Use admin POST /api/v1/admin/commerce/orders/refund or platform webhook.
      operationId: refundOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "403":
          description: Device-initiated refund forbidden
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/commerce/orders/{id}:
    get:
      tags: [Commerce]
      summary: Get order
      operationId: getOrder
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/commerce/entitlements:
    get:
      tags: [Commerce]
      summary: List entitlements
      operationId: listEntitlements
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Entitlements
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"


  /api/v1/wallet:
    get:
      tags: [Economy]
      summary: Get wallet balances
      description: |
        Returns gold and stamina balance snapshots for the JWT owner
        (account when bound, else device guest).
      operationId: getWallet
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Wallet balances
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/wallet/credit:
    post:
      tags: [Economy]
      summary: Credit wallet
      description: |
        Credits gold or stamina. Idempotent on operation_id (global unique).
        Same reward source can only credit once.
      operationId: creditWallet
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletMutateRequest"
      responses:
        "201":
          description: Credited
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletMutateResponse"
        "200":
          description: Idempotent replay
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletMutateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/wallet/debit:
    post:
      tags: [Economy]
      summary: Debit wallet
      description: |
        Debits gold or stamina. Never allows negative balance.
        Concurrent debits are serialised (SELECT FOR UPDATE).
        Idempotent on operation_id.
      operationId: debitWallet
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WalletMutateRequest"
      responses:
        "200":
          description: Debited or idempotent replay
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletMutateResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Insufficient balance (reason_code insufficient_balance)

  /api/v1/wallet/ledger:
    get:
      tags: [Economy]
      summary: List wallet ledger
      description: Paginated immutable reward/consume ledger (newest first).
      operationId: listWalletLedger
      security:
        - bearerAuth: []
      parameters:
        - name: currency
          in: query
          schema:
            type: string
            enum: [gold, stamina]
        - name: after_id
          in: query
          description: Cursor — return entries with id less than this
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Ledger page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WalletLedgerResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/wallet/reconcile:
    post:
      tags: [Economy]
      summary: Rebuild balance from ledger
      description: Recomputes currency balance from immutable ledger and writes snapshot.
      operationId: reconcileWallet
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [currency]
              properties:
                currency:
                  type: string
                  enum: [gold, stamina]
      responses:
        "200":
          description: Reconciled balance
          content:
            application/json:
              schema:
                type: object
                required: [currency, balance]
                properties:
                  currency: { type: string }
                  balance: { type: integer, format: int64 }
                  request_id: { type: string }
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/inventory:
    get:
      tags: [Economy]
      summary: List inventory
      operationId: listInventory
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Inventory items with quantity > 0
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventoryListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/inventory/grant:
    post:
      tags: [Economy]
      summary: Grant inventory item
      description: Grants items; idempotent on operation_id.
      operationId: grantInventory
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InventoryMutateRequest"
      responses:
        "201":
          description: Granted
        "200":
          description: Idempotent replay
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/inventory/consume:
    post:
      tags: [Economy]
      summary: Consume inventory item
      description: Consumes items; never negative; idempotent on operation_id.
      operationId: consumeInventory
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InventoryMutateRequest"
      responses:
        "200":
          description: Consumed or idempotent replay
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: Insufficient item quantity (reason_code insufficient_item)


  /api/v1/growth/catalog:
    get:
      tags: [Growth]
      summary: Growth catalog and rules
      description: |
        Versioned growth configuration: researcher tracks, allowed events,
        companion memory nodes (>=3 visible), and hard rules
        (no decay, no real-world feeding, no paid power, combat/recognition unchanged).
      operationId: getGrowthCatalog
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Growth catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrowthCatalogResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/growth/researcher:
    get:
      tags: [Growth]
      summary: Get researcher growth tracks
      description: |
        Photography, ecology knowledge and safe observation tracks for the JWT owner
        (account when bound — cross-device; else device guest).
      operationId: getResearcherGrowth
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Researcher tracks
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResearcherGrowthResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/growth/events:
    get:
      tags: [Growth]
      summary: List growth events
      description: Paginated authoritative growth event ledger (newest first) for cross-device restore.
      operationId: listGrowthEvents
      security:
        - bearerAuth: []
      parameters:
        - name: after_id
          in: query
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        "200":
          description: Event page
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrowthEventListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
    post:
      tags: [Growth]
      summary: Record growth event
      description: |
        Server-authoritative, idempotent on event_id. Unlocks convenience/content only —
        never changes recognition results or combat stats. Rejects paid power, decay and
        real-world feeding kinds.
      operationId: postGrowthEvent
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GrowthEventRequest"
      responses:
        "201":
          description: Event applied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrowthEventApplyResponse"
        "200":
          description: Idempotent replay
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrowthEventApplyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: Forbidden kind (paid power / decay / real feed)
        "404":
          description: Companion animal not found or not owned

  /api/v1/growth/companions:
    get:
      tags: [Growth]
      summary: List companion profiles
      operationId: listGrowthCompanions
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Companion summaries
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanionListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/growth/companions/{animal_uuid}:
    get:
      tags: [Growth]
      summary: Get companion profile and growth nodes
      description: |
        Pure virtual companion profile with decorative/memory nodes.
        Guarantees at least 3 visible growth nodes per collection animal.
        Does not modify combat power.
      operationId: getGrowthCompanion
      security:
        - bearerAuth: []
      parameters:
        - name: animal_uuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Companion profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompanionDetailResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Not found

  /api/v1/growth/reset:
    post:
      tags: [Growth]
      summary: Auditable growth reset or config migration
      description: |
        Resets researcher tracks and/or companion profiles with a required reason.
        Snapshot is stored for audit; growth event ledger is retained.
      operationId: resetGrowth
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GrowthResetRequest"
      responses:
        "200":
          description: Reset audit recorded
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GrowthResetResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/admin/auth/token:
    post:
      tags: [Admin]
      summary: Issue short-lived admin JWT
      description: |
        Issues a short-lived admin access JWT bound to a session (AP-085).
        Allowed via: super admin JWT, break-glass (X-Admin-Key + X-Admin-Actor + X-Admin-Reason),
        or non-production dev_secret. Production forbids shared key as regular auth.
      operationId: adminIssueToken
      security: []
      parameters:
        - $ref: "#/components/parameters/AdminActorHeader"
        - $ref: "#/components/parameters/AdminReasonHeader"
        - $ref: "#/components/parameters/AdminKeyHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [actor, role]
              properties:
                actor: { type: string }
                role:
                  type: string
                  enum: [support, content, ops, finance, security, super]
                subject: { type: string }
                dev_secret: { type: string }
      responses:
        "200":
          description: Admin token issued
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/admin/sessions/revoke:
    post:
      tags: [Admin]
      summary: Revoke admin session(s)
      description: Revokes one session_id or all sessions for actor_id. Requires session.revoke.
      operationId: adminRevokeSession
      security:
        - adminBearer: []
        - adminBreakGlass: []
      parameters:
        - $ref: "#/components/parameters/AdminReasonHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                session_id: { type: string }
                actor_id: { type: string }
                reason: { type: string }
      responses:
        "200":
          description: Revoked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /api/v1/admin/config/game:
    put:
      tags: [Admin]
      summary: Write game config (RBAC)
      description: |
        Config write gated by config.write permission.
        Support/finance roles are denied (AP-085).
      operationId: adminWriteGameConfig
      security:
        - adminBearer: []
        - adminBreakGlass: []
      parameters:
        - $ref: "#/components/parameters/AdminReasonHeader"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Accepted
        "403":
          description: Permission denied

  /api/v1/admin/security/reports/{id}:
    get:
      tags: [Admin]
      summary: Get security report
      description: |
        Returns security report metadata for roles with security.report.read_meta.
        Payload body is redacted unless role has security.report.read_body
        (finance cannot read body; security/super can).
      operationId: adminGetSecurityReport
      security:
        - adminBearer: []
        - adminBreakGlass: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Report (body may be redacted)
        "403":
          description: Permission denied
        "404":
          description: Not found
  /api/v1/narrative/catalog:
    get:
      tags: [Narrative]
      summary: Narrative content catalog version (AP-132)
      operationId: narrativeCatalog
      security: [{bearerAuth: []}]
      responses:
        "200": {description: Catalog meta}
  /api/v1/narrative/nodes/{node_id}:
    get:
      tags: [Narrative]
      summary: Get narrative node and choices
      operationId: narrativeGetNode
      security: [{bearerAuth: []}]
      parameters:
        - name: node_id
          in: path
          required: true
          schema: {type: string}
      responses:
        "200": {description: Node payload}
  /api/v1/narrative/progress:
    get:
      tags: [Narrative]
      summary: Get or create chapter progress
      operationId: narrativeProgress
      security: [{bearerAuth: []}]
      parameters:
        - name: chapter
          in: query
          schema: {type: string}
      responses:
        "200": {description: Progress}
  /api/v1/narrative/progress/all:
    get:
      tags: [Narrative]
      summary: Pull all narrative progress records
      operationId: narrativePullAllProgress
      security: [{bearerAuth: []}]
      responses:
        "200": {description: Progress records}
  /api/v1/narrative/choices:
    post:
      tags: [Narrative]
      summary: Submit narrative choice (idempotent)
      operationId: narrativeSubmitChoice
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [chapter_id, choice_id, operation_id]
              properties:
                chapter_id: {type: string}
                choice_id: {type: string}
                operation_id: {type: string}
      responses:
        "200": {description: Idempotent replay}
        "201": {description: Applied}
  /api/v1/narrative/seen:
    get:
      tags: [Narrative]
      summary: List seen narrative nodes
      operationId: narrativeListSeen
      security: [{bearerAuth: []}]
      responses:
        "200": {description: Seen narrative nodes}
    post:
      tags: [Narrative]
      summary: Mark a narrative node as seen
      operationId: narrativeMarkSeen
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [node_id]
              properties:
                node_id: {type: string}
                summary: {type: string}
      responses:
        "200": {description: Seen state recorded}
  /api/v1/narrative/fail-forward:
    post:
      tags: [Narrative]
      summary: Fail-forward narrative on miss/empty (AP-120)
      operationId: narrativeFailForward
      security: [{bearerAuth: []}]
      responses:
        "200": {description: Fail-forward node}
  /api/v1/narrative/observation:
    post:
      tags: [Narrative]
      summary: Observation event unlocks story fragments (AP-118)
      operationId: narrativeObservation
      security: [{bearerAuth: []}]
      responses:
        "200": {description: Unlocked fragments}
  /api/v1/narrative/clues:
    get:
      tags: [Narrative]
      summary: List clue states (AP-127)
      operationId: narrativeListClues
      security: [{bearerAuth: []}]
      responses:
        "200": {description: Clues}
    post:
      tags: [Narrative]
      summary: Update clue status
      operationId: narrativeUpdateClue
      security: [{bearerAuth: []}]
      responses:
        "200": {description: Updated}
  /api/v1/narrative/ending-summary:
    get:
      tags: [Narrative]
      summary: Get ending choice summary
      operationId: narrativeEndingSummary
      security: [{bearerAuth: []}]
      responses:
        "200": {description: Ending choice summary}
  /api/v1/quests:
    get:
      tags: [Quest]
      summary: List quests with progress
      description: |
        Returns enabled quests for the JWT owner with current period progress.
        Use `free=true` to list only zero-stamina executable quests.
        Progress is never advanced by page opens — only trusted business events.
      operationId: listQuests
      security:
        - bearerAuth: []
      parameters:
        - name: free
          in: query
          description: When true/1, only free (zero-stamina) quests
          schema:
            type: string
            enum: ["1", "true", "0", "false"]
      responses:
        "200":
          description: Quest list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuestListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/quests/catalog:
    get:
      tags: [Quest]
      summary: Quest definition catalog
      description: Versioned data-driven quest definitions (config rollback friendly).
      operationId: getQuestCatalog
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuestCatalogResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/quests/events:
    post:
      tags: [Quest]
      summary: Apply trusted quest progress event
      description: |
        Applies a trusted business event to advance quest progress.
        Forbidden client-fakeable types: open_pokedex, safe_explore, page_view, open_map.
        Idempotent on event_id (global unique).
      operationId: applyQuestEvent
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QuestEventRequest"
      responses:
        "201":
          description: Event applied
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuestEventResponse"
        "200":
          description: Idempotent replay
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuestEventResponse"
        "400":
          description: Forbidden or untrusted event (reason_code quest_event_forbidden|quest_event_untrusted)
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/quests/compensate:
    post:
      tags: [Quest]
      summary: Expire and compensate unclaimed quests
      description: |
        Marks active expired progress as expired; for completed-but-expired unclaimed
        quests, grants half gold via wallet ledger (source_type=compensate) once.
      operationId: compensateQuests
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Compensation summary
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuestCompensateResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/quests/{quest_id}:
    get:
      tags: [Quest]
      summary: Get one quest with progress
      operationId: getQuest
      security:
        - bearerAuth: []
      parameters:
        - name: quest_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Quest detail
          content:
            application/json:
              schema:
                type: object
                required: [quest]
                properties:
                  quest:
                    $ref: "#/components/schemas/QuestView"
                  request_id: { type: string }
        "404":
          description: Not found (reason_code quest_not_found)
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/quests/{quest_id}/claim:
    post:
      tags: [Quest]
      summary: Claim quest reward (idempotent)
      description: |
        Claims rewards for a completed quest period. Credits wallet ledger once via
        stable operation_id. Concurrent claims return one create + idempotent replays.
      operationId: claimQuest
      security:
        - bearerAuth: []
      parameters:
        - name: quest_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "201":
          description: Claimed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuestClaimResponse"
        "200":
          description: Idempotent replay
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuestClaimResponse"
        "409":
          description: Not claimable or expired (reason_code quest_not_claimable|quest_expired)
        "404":
          description: Quest not found
        "401":
          $ref: "#/components/responses/Unauthorized"


  /api/v1/admin/commerce/orders/refund:
    post:
      tags: [Admin, Commerce]
      summary: Admin refund order
      description: |
        Admin refund path (AP-085). Requires admin JWT (or break-glass) with commerce.refund.
        Support cannot refund. Device JWT clients must not call this.
        Every refund is audited with real actor/session/reason/request_id.
      operationId: adminRefundOrder
      security:
        - adminBearer: []
        - adminBreakGlass: []
      parameters:
        - $ref: "#/components/parameters/AdminReasonHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id]
              properties:
                order_id:
                  type: string
                device_id:
                  type: string
                reason:
                  type: string
      responses:
        "200":
          description: Refunded or already refunded
        "403":
          description: Missing auth or insufficient permission
        "404":
          description: Order not found
        "501":
          description: Commerce not ready
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/admin/commerce/webhooks/refund:
    post:
      tags: [Admin, Commerce]
      summary: Platform refund webhook stub
      description: |
        Stub webhook for store platform refund notifications.
        Authenticated via admin JWT/break-glass with commerce.refund until platform signatures land.
      operationId: webhookRefundOrder
      security:
        - adminBearer: []
        - adminBreakGlass: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id]
              properties:
                order_id:
                  type: string
                device_id:
                  type: string
                reason:
                  type: string
      responses:
        "200":
          description: Refunded
        "403":
          description: Missing or invalid admin credentials

  /api/v1/admin/audit/logs:
    get:
      tags: [Admin]
      summary: List audit logs
      description: Requires audit.logs.read. Actor identity is recorded on each query.
      operationId: listAuditLogs
      security:
        - adminBearer: []
        - adminBreakGlass: []
      responses:
        "200":
          description: Logs
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/admin/audit/logs/{id}/ack:
    post:
      tags: [Admin]
      summary: Ack audit log
      description: Requires audit.logs.ack. Acked_by is the real admin actor.
      operationId: ackAuditLog
      security:
        - adminBearer: []
        - adminBreakGlass: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/AdminReasonHeader"
      responses:
        "200":
          description: Acked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/ranking/score:
    post:
      tags: [Ranking]
      summary: Report ranking score event (AP-114)
      operationId: rankingScore
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [delta]
              properties:
                city: {type: string}
                date: {type: string}
                delta: {type: integer, format: int64}
                display_name: {type: string}
                eligible: {type: boolean}
      responses:
        "200":
          description: Score accepted
        "501":
          $ref: "#/components/responses/NotImplemented"
  /api/v1/ranking/settle:
    post:
      tags: [Ranking]
      summary: Settle daily city ranking snapshot (AP-114)
      operationId: rankingSettle
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [city]
              properties:
                city: {type: string}
                date: {type: string}
      responses:
        "200":
          description: Snapshot settled
  /api/v1/ranking/daily:
    get:
      tags: [Product]
      summary: Daily regional ranking board
      description: |
        Requires FEATURE_RANKING=true. When disabled returns 501 with reason_code feature_unavailable.
        Production defaults FEATURE_RANKING=false.
      operationId: rankingDaily
      security:
        - bearerAuth: []
      parameters:
        - name: city
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: Ranking board (may be empty but authoritative when enabled)
          content:
            application/json:
              schema:
                type: object
                properties:
                  city:
                    type: string
                  date:
                    type: string
                  entries:
                    type: array
                    items:
                      type: object
                  source:
                    type: string
                  request_id:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          $ref: "#/components/responses/FeatureUnavailable"

  /api/v1/pvp/cancel:
    post:
      tags: [PvP]
      summary: Cancel matchmaking queue (AP-115)
      operationId: pvpCancel
      security: [{bearerAuth: []}]
      responses:
        "200": {description: Cancelled}
  /api/v1/pvp/match:
    post:
      tags: [Product]
      summary: Request PvP match
      description: |
        Requires FEATURE_PVP=true. When disabled returns 501 feature_unavailable.
        When enabled but matchmaking is not ready, returns 503 feature_unavailable (never empty match_id with 2xx).
      operationId: pvpMatch
      security:
        - bearerAuth: []
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          $ref: "#/components/responses/FeatureUnavailable"
        "503":
          $ref: "#/components/responses/FeatureUnavailable"

  /api/v1/pvp/result:
    post:
      tags: [Product]
      summary: Report PvP result (server-authoritative)
      description: |
        Requires FEATURE_PVP=true. Disabled or not-ready returns 501/503 feature_unavailable.
        When command_log includes players/enemies/commands (AP-102), server re-simulates and rejects winner mismatch.
      operationId: pvpResult
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          $ref: "#/components/responses/FeatureUnavailable"
        "503":
          $ref: "#/components/responses/FeatureUnavailable"

  /api/v1/battle/catalog:
    get:
      tags: [Battle]
      summary: Battle design catalog (skills, roles, statuses, archetypes)
      description: |
        AP-102 authoritative design data. Always available when authenticated.
        Includes ≥12 skills, ≥6 enemy archetypes, recommended teams, upgrade tiers.
      operationId: battleCatalog
      security: [{bearerAuth: []}]
      responses:
        "200":
          description: Catalog payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BattleCatalogResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/battle/pve/start:
    post:
      tags: [Battle]
      summary: Start authoritative PvE battle session
      description: |
        Server generates battle seed, materializes enemy team from archetype,
        returns pre-battle threats. Team snapshot is frozen for settlement.
      operationId: battlePveStart
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BattlePveStartRequest"
      responses:
        "200":
          description: Open session with seed, enemies, threats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BattlePveStartResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/FeatureUnavailable"

  /api/v1/battle/pve/settle:
    post:
      tags: [Battle]
      summary: Settle PvE battle via seed+command log replay
      description: |
        Server re-simulates commands against frozen team/enemy snapshots.
        Client claimed_winner must match server result when provided (tamper reject).
        Idempotent for completed sessions.
      operationId: battlePveSettle
      security: [{bearerAuth: []}]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BattlePveSettleRequest"
      responses:
        "200":
          description: Authoritative result + failure factors
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BattlePveSettleResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: not owner
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: session not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/battle/simulate:
    post:
      tags: [Battle]
[...]
