openapi: 3.1.0
info:
  title: Animal Poke Backend API
  version: 1.0.0
  description: |
    Go 后端 API 契约（OpenAPI 3.1）。
    客户端仅持有 API Base URL + 设备 Token；第三方 Key 永不进入前端。
  contact:
    name: animal_poke team
  license:
    name: Proprietary
    url: https://github.com/Bluepoisons/animal_poke
servers:
  - url: https://api.animal-poke.app
    description: Production
  - url: https://api.staging.animal-poke.app
    description: Staging

tags:
  - name: Health
    description: Liveness, readiness and lightweight health probes
  - name: Auth
    description: Device registration and JWT issuance
  - name: Geo
    description: Reverse geocoding and location helpers
  - name: Weather
    description: Weather queries proxied via backend
  - name: Vision
    description: Image animal detection and analysis
  - name: Value
    description: Pet value generation
  - name: Sync
    description: Animal collection sync APIs
  - name: Privacy
    description: Consent, export and deletion requests
  - name: Security
    description: Client security and trusted time endpoints
  - name: Commerce
    description: Orders and entitlements
  - name: Admin
    description: Admin audit APIs
  - name: Observability
    description: Metrics and operational endpoints
  - name: Analytics
    description: Privacy-friendly funnel event ingest

paths:
  /health:
    get:
      tags: [Health]
      summary: Liveness (legacy)
      operationId: getHealth
      security: []
      responses:
        "200":
          description: Process alive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
  /livez:
    get:
      tags: [Health]
      summary: Liveness
      operationId: getLivez
      security: []
      responses:
        "200":
          description: Process alive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
  /ready:
    get:
      tags: [Health]
      summary: Readiness (legacy)
      operationId: getReady
      security: []
      responses:
        "200":
          description: Ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "503":
          description: Not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
  /readyz:
    get:
      tags: [Health]
      summary: Readiness
      operationId: getReadyz
      security: []
      responses:
        "200":
          description: Ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "503":
          description: Not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadyResponse"
  /metrics:
    get:
      tags: [Observability]
      summary: Prometheus metrics
      operationId: getMetrics
      security: []
      responses:
        "200":
          description: Prometheus text exposition
          content:
            text/plain:
              schema:
                type: string
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v1/ping:
    get:
      tags: [Health]
      summary: Ping
      operationId: ping
      security: []
      responses:
        "200":
          description: Pong
          content:
            application/json:
              schema:
                type: object
                required: [msg]
                properties:
                  msg:
                    type: string
                    example: pong
                  db:
                    type: boolean
                  app_env:
                    type: string
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v1/time:
    get:
      tags: [Security]
      summary: Trusted server time
      operationId: getTime
      security: []
      responses:
        "200":
          description: Signed server time
          headers:
            X-Server-Time:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /api/v1/auth/device:
    post:
      tags: [Auth]
      summary: Register device and issue JWT
      operationId: authDevice
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthDeviceRequest"
      responses:
        "200":
          description: Token issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthDeviceResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/geo/city:
    get:
      tags: [Geo]
      summary: Reverse geocode city
      operationId: getCity
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Lat"
        - $ref: "#/components/parameters/Lng"
      responses:
        "200":
          description: City info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/weather/week:
    get:
      tags: [Weather]
      summary: Weekly weather
      operationId: getWeatherWeek
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Lat"
        - $ref: "#/components/parameters/Lng"
      responses:
        "200":
          description: Week weather
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WeatherWeekResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/vision/detect:
    post:
      tags: [Vision]
      summary: Detect animals in image
      operationId: visionDetect
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
      responses:
        "200":
          description: Detection result
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VisionDetectResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/vision/analyze:
    post:
      tags: [Vision]
      summary: Analyze animal image
      operationId: visionAnalyze
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image:
                  type: string
                  format: binary
                  description: Animal image (jpeg/png/webp). Server re-encodes to JPEG and strips EXIF before provider.
                crop_x:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Optional normalized crop origin X (0..1). Used with crop_y/crop_w/crop_h to send only the animal region.
                crop_y:
                  type: number
                  minimum: 0
                  maximum: 1
                  description: Optional normalized crop origin Y (0..1).
                crop_w:
                  type: number
                  exclusiveMinimum: 0
                  maximum: 1
                  description: Optional normalized crop width (0..1).
                crop_h:
                  type: number
                  exclusiveMinimum: 0
                  maximum: 1
                  description: Optional normalized crop height (0..1).
                parent_inference_id:
                  type: string
                  description: Optional parent detect inference id for audit linkage.
                detect_inference_id:
                  type: string
                  description: Alias of parent_inference_id.
      responses:
        "200":
          description: Analysis result
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "400":
          description: Invalid image or crop box
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/value/generate:
    post:
      tags: [Value]
      summary: Generate pet stats/narrative (deterministic rarity/stats)
      description: |
        Rarity and battle stats are computed server-side via HMAC-seeded algorithm
        (seed = parent/capture inference id + config_version + server secret).
        LLM only supplies narrative. Response includes factors for transparency.
      operationId: valueGenerate
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [species]
              properties:
                species: { type: string }
                breed: { type: string }
                color: { type: string }
                body_type: { type: string }
                subject_completeness: { type: integer, minimum: 1, maximum: 10 }
                clarity: { type: integer, minimum: 1, maximum: 10 }
                lighting: { type: integer, minimum: 1, maximum: 10 }
                composition: { type: integer, minimum: 1, maximum: 10 }
                pose: { type: integer, minimum: 1, maximum: 10 }
                angle: { type: integer, minimum: 1, maximum: 10 }
                parent_inference_id: { type: string }
                analyze_inference_id: { type: string }
                inference_request_id: { type: string }
                capture_id: { type: string }
              additionalProperties: true
      responses:
        "200":
          description: Generated value with deterministic stats and factors
          content:
            application/json:
              schema:
                type: object
                properties:
                  rarity: { type: integer, minimum: 1, maximum: 5 }
                  hp: { type: integer }
                  atk: { type: integer }
                  def: { type: integer }
                  spd: { type: integer }
                  class: { type: string }
                  element: { type: string }
                  narrative: { type: string }
                  config_version: { type: string }
                  seed_id: { type: string }
                  factors:
                    type: object
                    properties:
                      photo_quality: { type: number }
                      completeness: { type: number }
                      species_weight: { type: number }
                      breed_weight: { type: number }
                      color_weight: { type: number }
                      base_score: { type: number }
                      random_jitter: { type: number }
                      final_score: { type: number }
                      quality_band: { type: string }
                  inference_id: { type: string }
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/TooManyRequests"

  /api/v1/sync/animal:
    post:
      tags: [Sync]
      summary: Upsert single animal (idempotent)
      description: |
        Validates and persists one animal. Single and batch share the same
        validateAndSyncOne domain path. Returns stable reason_code on failure;
        never leaks raw database errors.
      operationId: syncAnimal
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncAnimalRequest"
      responses:
        "201":
          description: Synced
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncAnimalResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/sync/animals:
    post:
      tags: [Sync]
      summary: Batch upsert animals (non-atomic per-item results)
      description: |
        Non-atomic batch: each item is validated and synced independently via
        the same validateAndSyncOne path as POST /sync/animal. Max 100 items.
        Response is always a results array with per-item status and reason_code;
        raw DB errors are never returned.
      operationId: syncAnimalsBatch
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchSyncRequest"
      responses:
        "200":
          description: Per-item batch results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchSyncResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
    get:
      tags: [Sync]
      summary: Pull animals (cursor)
      operationId: pullAnimals
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        "200":
          description: Animals page
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/privacy/consent:
    post:
      tags: [Privacy]
      summary: Record consent
      operationId: putConsent
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Saved
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/privacy/export:
    post:
      tags: [Privacy]
      summary: Request data export
      operationId: exportData
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Export accepted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/privacy/delete:
    post:
      tags: [Privacy]
      summary: Request data deletion
      operationId: deleteData
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Delete accepted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/privacy/requests/{id}:
    get:
      tags: [Privacy]
      summary: Get privacy request status
      operationId: getPrivacyRequest
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Status
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/security/report:
    post:
      tags: [Security]
      summary: Client security report
      operationId: securityReport
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Accepted
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"


  /api/v1/analytics/events:
    post:
      tags: [Analytics]
      summary: Ingest privacy-safe funnel analytics events
      operationId: ingestAnalyticsEvents
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [events]
              properties:
                schema_version:
                  type: integer
                  description: Client schema registry version
                events:
                  type: array
                  maxItems: 50
                  items:
                    type: object
                    required: [session_id, name, event_id, ts]
                    properties:
                      schema_version:
                        type: integer
                      session_id:
                        type: string
                        description: Pseudo-anonymous session id (not device token)
                      name:
                        type: string
                        enum:
                          - auth
                          - camera_ok
                          - scan
                          - detect_result
                          - capture_attempt
                          - generate_stage
                          - collection_complete
                          - trade
                          - battle_end
                      ts:
                        type: integer
                        format: int64
                      event_id:
                        type: string
                      coarse_location:
                        type: object
                        description: City/region only when location consented; never lat/lng
                        properties:
                          city:
                            type: string
                          region:
                            type: string
                          country:
                            type: string
                        additionalProperties: false
                      experiment_id:
                        type: string
                      experiment_variant:
                        type: string
                      props:
                        type: object
                        additionalProperties: true
                        description: Non-sensitive props; server drops photo/token/coords
      responses:
        "202":
          description: Accepted (some events may be dropped)
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted:
                    type: integer
                  dropped:
                    type: integer
                  schema_version:
                    type: integer
                  request_id:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/commerce/orders:
    post:
      tags: [Commerce]
      summary: Create order
      description: |
        Creates an order for an active catalog product.
        Idempotent on (device_id, idempotency_key).
        Returns 501/503 with reason_code commerce_not_ready when COMMERCE_ENABLED is false
        or production lacks COMMERCE_STORE_VERIFY.
      operationId: createOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [product_id, idempotency_key]
              properties:
                product_id:
                  type: string
                idempotency_key:
                  type: string
                platform:
                  type: string
                  enum: [mock, apple, google]
      responses:
        "200":
          description: Existing order (idempotent replay)
        "201":
          description: Order created
        "404":
          description: Unknown or inactive product (reason_code product_not_found)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          description: Commerce disabled (reason_code commerce_not_ready)
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/commerce/orders/fulfill:
    post:
      tags: [Commerce]
      summary: Fulfill order
      description: |
        Fulfills a device-scoped order after receipt checks.
        Short receipts rejected. Outside production only platform=mock is allowed.
        Production requires COMMERCE_STORE_VERIFY and real store verification.
      operationId: fulfillOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id, receipt]
              properties:
                order_id:
                  type: string
                receipt:
                  type: string
      responses:
        "200":
          description: Fulfilled or already fulfilled
        "400":
          description: Invalid receipt or platform (reason_code receipt_too_short|platform_not_allowed|receipt_invalid)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "501":
          description: Commerce not ready
        "503":
          description: Fulfill disabled in production (reason_code fulfill_disabled)

  /api/v1/commerce/orders/refund:
    post:
      tags: [Commerce]
      summary: Device refund (forbidden)
      description: |
        Device JWT clients cannot initiate refunds.
        Always returns 403 with reason_code device_refund_forbidden.
        Use admin POST /api/v1/admin/commerce/orders/refund or platform webhook.
      operationId: refundOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "403":
          description: Device-initiated refund forbidden
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/commerce/orders/{id}:
    get:
      tags: [Commerce]
      summary: Get order
      operationId: getOrder
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Order
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/commerce/entitlements:
    get:
      tags: [Commerce]
      summary: List entitlements
      operationId: listEntitlements
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Entitlements
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/v1/admin/commerce/orders/refund:
    post:
      tags: [Admin, Commerce]
      summary: Admin refund order
      description: |
        Admin/ops refund path. Requires X-Admin-Key.
        Device JWT clients must not call this.
      operationId: adminRefundOrder
      security:
        - adminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id]
              properties:
                order_id:
                  type: string
                device_id:
                  type: string
                reason:
                  type: string
      responses:
        "200":
          description: Refunded or already refunded
        "403":
          description: Missing or invalid admin key
        "404":
          description: Order not found
        "501":
          description: Commerce not ready
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/admin/commerce/webhooks/refund:
    post:
      tags: [Admin, Commerce]
      summary: Platform refund webhook stub
      description: |
        Stub webhook for store platform refund notifications.
        Currently authenticated with Admin API key; real integration will verify platform signatures.
      operationId: webhookRefundOrder
      security:
        - adminKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [order_id]
              properties:
                order_id:
                  type: string
                device_id:
                  type: string
                reason:
                  type: string
      responses:
        "200":
          description: Refunded
        "403":
          description: Missing or invalid admin key

  /api/v1/admin/audit/logs:
    get:
      tags: [Admin]
      summary: List audit logs
      operationId: listAuditLogs
      security:
        - adminKey: []
      responses:
        "200":
          description: Logs
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /api/v1/admin/audit/logs/{id}/ack:
    post:
      tags: [Admin]
      summary: Ack audit log
      operationId: ackAuditLog
      security:
        - adminKey: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Acked
        "401":
          $ref: "#/components/responses/Unauthorized"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    adminKey:
      type: apiKey
      in: header
      name: X-Admin-Key

  parameters:
    Lat:
      name: lat
      in: query
      required: true
      schema:
        type: number
        format: double
        minimum: -90
        maximum: 90
    Lng:
      name: lng
      in: query
      required: true
      schema:
        type: number
        format: double
        minimum: -180
        maximum: 180
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      schema:
        type: string

  headers:
    RequestID:
      description: Request correlation ID
      schema:
        type: string
    RetryAfter:
      description: Seconds to wait before retry
      schema:
        type: integer

  responses:
    BadRequest:
      description: Bad request
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Unauthorized
      headers:
        X-Request-ID:
          $ref: "#/components/headers/RequestID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    PayloadTooLarge:
      description: Image too large
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    UnsupportedMediaType:
      description: Unsupported media type
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    TooManyRequests:
      description: Rate limited
      headers:
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
        X-Request-ID:
          $ref: "#/components/headers/RequestID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    ServiceUnavailable:
      description: Dependency unavailable
      headers:
        Retry-After:
          $ref: "#/components/headers/RetryAfter"
        X-Request-ID:
          $ref: "#/components/headers/RequestID"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ServiceUnavailableError"

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        reason_code:
          type: string
        request_id:
          type: string
    ServiceUnavailableError:
      type: object
      required: [error, reason_code]
      properties:
        error:
          type: string
          example: service unavailable
        reason_code:
          type: string
          example: db_unavailable
        request_id:
          type: string
    HealthResponse:
      type: object
      required: [status, time]
      properties:
        status:
          type: string
          example: ok
        time:
          type: string
          format: date-time
    ReadyResponse:
      type: object
      required: [ready]
      properties:
        ready:
          type: boolean
        app_env:
          type: string
        db:
          type: string
          enum: [up, down, unavailable]
        schema:
          type: string
        config_errors:
          type: array
          items:
            type: string
    TimeResponse:
      type: object
      required: [server_time, unix_ms, nonce, signature, expires_in]
      properties:
        server_time:
          type: string
        unix_ms:
          type: integer
          format: int64
        nonce:
          type: string
        signature:
          type: string
        expires_in:
          type: integer
    AuthDeviceRequest:
      type: object
      required: [device_id]
      properties:
        device_id:
          type: string
          description: UUID or 8-64 alphanumeric/_-
    AuthDeviceResponse:
      type: object
      required: [token, expires_at, token_type]
      properties:
        token:
          type: string
        expires_at:
          type: string
        token_type:
          type: string
          example: Bearer
    CityResponse:
      type: object
      additionalProperties: true
      properties:
        city:
          type: string
        province:
          type: string
        country:
          type: string
    WeatherWeekResponse:
      type: object
      additionalProperties: true
      properties:
        week:
          type: array
          items:
            type: object
            additionalProperties: true
        source:
          type: string
    VisionDetectResponse:
      type: object
      additionalProperties: true
      properties:
        animals:
          type: array
          items:
            type: object
            additionalProperties: true
        inference_id:
          type: string
    SyncAnimalRequest:
      type: object
      required: [uuid, species, rarity, generated_at]
      properties:
        uuid:
          type: string
          format: uuid
        species:
          type: string
          description: capturable species (cat|dog|goose after normalize)
        breed:
          type: string
          maxLength: 64
        rarity:
          type: integer
          minimum: 1
          maximum: 5
        hp:
          type: integer
          minimum: 10
          maximum: 100
        atk:
          type: integer
          minimum: 5
          maximum: 50
        def:
          type: integer
          minimum: 5
          maximum: 50
        spd:
          type: integer
          minimum: 5
          maximum: 50
        class:
          type: string
          enum: [Warrior, Mage, Ranger, Tank, Support, Assassin]
        element:
          type: string
          enum: [Fire, Water, Grass, Electric, Ice, Dark, Light, Earth, Wind]
        latitude:
          type: number
          minimum: -90
          maximum: 90
        longitude:
          type: number
          minimum: -180
          maximum: 180
        city:
          type: string
          maxLength: 64
        generated_at:
          type: string
          format: date-time
        inference_request_id:
          type: string
          maxLength: 128
        keep_precise_location:
          type: boolean
    SyncAnimalResponse:
      type: object
      required: [status, uuid]
      properties:
        status:
          type: string
          example: synced
        uuid:
          type: string
          format: uuid
        review_status:
          type: string
    BatchSyncRequest:
      type: object
      required: [items]
      properties:
        items:
          type: array
          minItems: 1
          maxItems: 100
          items:
            $ref: "#/components/schemas/SyncAnimalRequest"
    BatchSyncItemResult:
      type: object
      required: [uuid, status]
      properties:
        uuid:
          type: string
        status:
          type: string
          enum: [synced, conflict, error]
        error:
          type: string
        reason_code:
          type: string
          description: |
            Stable codes e.g. invalid_uuid, invalid_rarity, invalid_stats,
            invalid_class, invalid_element, invalid_coords, invalid_time,
            invalid_string_length, species_unsupported, duplicate_animal,
            batch_duplicate, inference_*, sync_failed, batch_too_large
    BatchSyncResponse:
      type: object
      required: [results]
      properties:
        results:
          type: array
          items:
            $ref: "#/components/schemas/BatchSyncItemResult"
